<%- include('./partials/head') %>


<section>
  <article>
    <nav>
        <ul>
          <li class="navigatie"><a href="/">Home</a></li>
          <li class="navigatie"><a href="/about">About</a></li>
        </ul>
    </nav>

        <p>FDND <%= member.bio.html %></p>
        <p>Woonplaats: Nieuw-Vennep</p>
        <p>Geboren op: 02/11/1999</p>
 
  </article>
</section>
  

  <script src="/index.js"></script>


<%- include('./partials/foot') %>
