


.boek{
  background-color: burlywood;
  padding: 50px;
  margin-bottom: 50px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.boek-member{
  display: flex;
}

.all-members{
 display: grid;
 grid-template-columns: repeat(6, 1fr);
}
.book-member{
margin: 20px;
}

ul{
  list-style-type: none;
}

.sorteer-lijst{
  display: flex;
}

.member{
  border-color: black;
  border-bottom: 5px;
  border-radius: 20px;
  padding: 5px;
  background-color: burlywood;
  margin: 10px;
}

img{
  display: block;
  margin: 0 auto;
  max-width: 80px;
  border-width: 12px;
 border-color: black;
}

h1{
  font-size: 36px;
  margin: 20px;
  text-align: center;
  
}