:root {
  --border: 15px;
  --full-border: 50px;
  --box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;

  --light: #fff;
  --dark: #000;

  --primary: #110d40;
  --secondary: #19cab8;
  --tertiary: #334995;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100svh;
}

h1 {
  font-size: 1.8em;
}

h1 span {
  color: var(--secondary);
}

p {
  font-size: 1.5em;
}

/* begin header + sidebar */

/* book */

header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  background-color: var(--primary);
  color: var(--light);
}

.site-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.squad-filter {
  display: flex;
  align-items: center;
  gap: 0.5em;
  overflow-x: auto;
  padding-top: 1em;
  white-space: nowrap;
  margin-right: -2em;
}

.squad-filter ul {
  display: flex;
  list-style: none;
  gap: 0.5em;
}

.squad-filter ul li a {
  display: flex;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0 0.15em;
  font-size: 1.125em;
  color: var(--dark);
  background-color: var(--light);
  border-radius: var(--full-border);
  transition: 0.3s ease-in-out;
}

.squad-filter ul li a:hover,
.squad-filter ul li .active {
  background-color: var(--secondary);
}

.filter {
  display: flex;
  align-items: center;
  gap: 0.5em;
  overflow-x: auto;
  white-space: nowrap;
  margin-right: -2em;
}

.filter label {
  font-size: 1.125em;
  padding: 0.5em 1em;
  background-color: var(--light);
  color: var(--dark);
  border-radius: var(--full-border);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.filter label:hover,
.filter label:has(input:checked) {
  background-color: var(--secondary);
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.side-bar {
  background-color: var(--tertiary);
}

.side-bar-title {
  padding: 1em 2em 0.5em 2em;
  color: var(--light);
}

.profiel {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
}

.side-bar button {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em;
  margin: 1em 0em 1em 2em;
  border: none;
  background-color: var(--light);
  border-radius: var(--border);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  min-width: 300px;
}

.side-bar button:nth-last-child(1) {
  margin: 1em;
}

.side-bar button:hover {
  background-color: var(--secondary);
}

.side-bar button img {
  height: 4em;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  border-radius: var(--border);
}

/* end header + sidebar */

/* boek */

.boek-member {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 158.67px - 238.67px);
  height: calc(100svh - 158.67px - 238.67px);
  width: 100%;
  padding: 2em;
  min-height: calc(400px + 2em + 2em);

}

.page-flip {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: var(--tertiary);
  border: 5px solid black;
  box-shadow: 1px 5px 10px 2px black;
  border-radius: var(--border);
  min-height: 400px;

}

.page-flip article {
  background-color: var(--tertiary);
  height: 100%;
  border-radius: var(--border);
  width: 100%;
  overflow-x: auto;
}

.rightcard {
  display: none;
}

.leftcard,
.cardtext {
  animation: hide 1.5s linear 1;
  height: 100%;
  padding: 2em;
}

.boek-image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: var(--border);
}

.content-links {
  padding: 10px;
}

.show {
  display: block;
}
.hide {
  display: none;
}
.cardtext {
  animation: SlowShow 1s linear 1;
}
@keyframes SlowShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sorteer-lijst {
  display: flex;
}

.bio {
  padding: 10px;
}

.member {
  border-color: black;
  border-bottom: 5px;
  border-radius: 20px;
  padding: 5px;
  background-color: var(--tertiary);
  margin: 10px;
}

.members-image {
  display: block;
  margin: 0 auto;
  max-width: 80px;
  border-width: 12px;
  border-color: black;
}

@media screen and (min-width: 498px) {
  .boek-member {
    height: calc(100vh - 158.67px - 206px);
    height: calc(100svh - 158.67px - 206px);
    padding: 5em;
    min-height: calc(400px + 5em + 5em)
  }
}

h2 {
  font-size: 32px;
  margin: 20px;
  text-align: center;
}

.animatie {
  animation: nextPage 1s linear 1;
}

@media screen and (min-width: 800px) {
  .rightcard {
    display: block;
  }
}

@media screen and (min-width: 1030px) {
  .boek-member {
    height: calc(100vh - 158.67px - 158px);
    height: calc(100svh - 158.67px - 158px);

  }

  .site-title {
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }

  .squad-filter {
    padding-top: 0;
    padding-bottom: 0;
  }

  .squad-filter,
  .filter {
    margin-right: 0;
  }
}

@media screen and (min-width: 1415px) {
  main {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .side-bar {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 350px;
    width: 100%;
    height: calc(100vh - 157.6px);
    height: calc(100svh - 157.6px);
    overflow-x: auto;
    background-color: var(--tertiary);
  }

  .profiel {
    flex-direction: column;
    overflow-y: auto;
  }

  .side-bar button {
    margin: 1em 2em 0 2em;
  }

  .side-bar button:nth-last-child(1) {
    margin: 1em 2em;
  }

  .boek-member {
    height: 100%;
    padding: 10em;
    min-height: calc(400px + 10em + 10em);
  }
}

@keyframes nextPage {
  100% {
    opacity: 0;
    transform: translateX(-300px);
  }
}

@keyframes hide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}